[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pyobjc = "*"
py2app = "*"

[packages]
pandas = "*"
nltk = "*"
tzlocal = "*"

[requires]
python_version = "3.8.3"

[pipenv]
allow_prereleases = true
